.team4 {
    /* font-family: "Montserrat", sans-serif; */
    /* color: #000; */
    font-weight: 300;
}

/* .team4 h1,
.team4 h2,
.team4 h3,
.team4 h4,
.team4 h5,
.team4 h6 {
    color: #000;
} */

.team4 .font-weight-medium {
    font-weight: 700;
}

.team4 h5 {
    line-height: 22px;
    font-size: 18px;
}

.team4 .subtitle {
    color: #000;
    line-height: 24px;
    font-size: 13px;
    font-weight: 600;
}

.team4 ul li a {
    /* color: #000; */
    padding-right: 15px;
    -webkit-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
}

.team4 ul li a:hover {
    -webkit-transform: translate3d(0px, -5px, 0px);
    transform: translate3d(0px, -5px, 0px);
    color: #316ce8;
}

img.img-fluid.rounded-circle.custom_circle.wp-post-image {
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    text-align: center;
    justify-items: center;
}

.col-md-12.hold-team {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}


/* .nav-tabs .nav-link::before {
    position: absolute;
    display: block;
    bottom: 0;
    left: 1.25rem;
    width: calc(100% - (1.25rem * 2));
    height: 1px;
    transition: color .25s ease-in-out, background-color .25s ease-in-out, box-shadow .25s ease-in-out, border-color .25s ease-in-out;
    background-color: rgba(0, 0, 0, 0);
    content: ""
}
 */

/* .team-department-filter.custom-dropdown {
    position: relative;
    width: 30%;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
}

.team-department-filter .dropdown-label {
    position: absolute;
    top: -17px;
    left: 10px;
    background: #fff;
    padding: 2px 5px;
    font-size: 14px;
    z-index: 1;
    border: 1px solid #f9c701;
    border-radius: 10px;
    color: #f9c701;
}

.team-department-filter .dropdown-selected {
    background-color: white;
    border: 1px solid #f9c701;
    padding: 12px;
    cursor: pointer;
    position: relative;
    color: #f9c701;
    font-weight: bold;
    padding-top: 15px;
    border-radius: 10px;
}

.team-department-filter .dropdown-selected::after {
    content: "▾";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.team-department-filter .dropdown-options {
    display: none;
    position: absolute;
    width: 100%;
    border: 1px solid #f9c701;
    background-color: #fff;
    z-index: 999;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 15px;
    border-radius: 10px;
    scrollbar-width: thin;
}

.team-department-filter .dropdown-options li {
    padding: 12px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border: none;
}

.team-department-filter .dropdown-options li:hover,
.team-department-filter .dropdown-options li.selected {
    background-color: #f9c701;
}

.team-department-filter .dropdown-options {
    list-style: none;
    padding: 0;
}

.team-department-filter .dropdown-options li {
    padding: 12px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    list-style: none;
} */

/* .team-department-filter .dropdown-options li:hover,
.team-department-filter .dropdown-options li.selected {
    color: #f9c701 !important;
    Yellow text
    background-color: #fff !important;
    Keep white background
    font-weight: bold;
} */

/* @media(max-width: 575px) {
    .team-department-filter.custom-dropdown {
        width: 80%;
    }
}

@media(max-width: 991px) {
    .team-department-filter.custom-dropdown {
        width: 60%;
        margin: 0px auto 30px auto
    }
} */